In [ ]:
#Instalar o mysql-connector-python
pip install mysql-connector-python

In [ ]:
#Comandos para baixar as bibliotecas:
#Observação: tem que ser pelo terminal.
pip install --user pandas
pip install --user sqlalchemy

In [1]:
#Importar as bibliotecas necessárias
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [2]:
#Para carregar o arquivo CSV
df = pd.read_csv('C:/Users/aless/Desktop/Sei_la_PROJETO/Projeto_pokemon/Tratamento_de_dados/pokemon_alterados.csv')

In [3]:
#Ler os dados selecionados das tabelas
df.head()

                    Name Type 1  Type 2  HP  Attack  Defense  Speed
0              Bulbasaur  Grass  Poison  45      49       49     45
1                Ivysaur  Grass  Poison  60      62       63     60
2               Venusaur  Grass  Poison  80      82       83     80
3  VenusaurMega Venusaur  Grass  Poison  80     100      123     80
4             Charmander   Fire     NaN  39      52       43     65

In [4]:
#Listar as colunas do dataset
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Speed'], dtype='object')

In [5]:
#Conectar o python ao mysql, para inserir os dados
#Observação: Tem que criar o database antes de fazer a ingestão dos dados.
params = {
    'user': 'root',
    'password': 'T430u',
    'host': 'localhost',
    'database': 'pokemon_bd',
    'port': 3306
}

In [6]:
#Parâmetros para se conectar ao banco de dados

params = "mysql+mysqlconnector://root:T430u@localhost/pokemon_db"

In [7]:
#Criar uma engine para inserir os dados no Mysql
engine = create_engine(params, echo=True)

In [8]:
df.to_sql('tb_pokemon_stage', con=engine, if_exists='append', index=False)

2024-05-10 19:12:12,628 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-10 19:12:12,629 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-05-10 19:12:12,633 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-10 19:12:12,634 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-10 19:12:12,638 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-10 19:12:12,640 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-10 19:12:12,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 19:12:12,652 INFO sqlalchemy.engine.Engine DESCRIBE `pokemon_db`.`tb_pokemon_stage`
2024-05-10 19:12:12,653 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-10 19:12:12,663 INFO sqlalchemy.engine.Engine
CREATE TABLE tb_pokemon_stage (
	`Name` TEXT,
	`Type 1` TEXT,
	`Type 2` TEXT,
	`HP` BIGINT,
	`Attack` BIGINT,
	`Defense` BIGINT,
	`Speed` BIGINT
)


2024-05-10 19:12:12,665 INFO sqlalchemy.engine.Engine [no key 0.00221s] {}
2024-05-10 19:12:13,165 INFO sqlalchemy.engine.Engine INSERT INTO tb_pokemon_stage (`Name`, `Type 1`, `Type 2`, `HP`, `Attack`, `Defense`, `Speed`) VALUES (%(Name)s, %(Type_1)s, %(Type_2)s, %(HP)s, %(Attack)s, %(Defense)s, %(Speed)s)
2024-05-10 19:12:13,166 INFO sqlalchemy.engine.Engine [generated in 0.00676s] [{'Name': 'Bulbasaur', 'Type_1': 'Grass', 'Type_2': 'Poison', 'HP': 45, 'Attack': 49, 'Defense': 49, 'Speed': 45}, {'Name': 'Ivysaur', 'Type_1': 'Grass', 'Type_2': 'Poison', 'HP': 60, 'Attack': 62, 'Defense': 63, 'Speed': 60}, {'Name': 'Venusaur', 'Type_1': 'Grass', 'Type_2': 'Poison', 'HP': 80, 'Attack': 82, 'Defense': 83, 'Speed': 80}, {'Name': 'VenusaurMega Venusaur', 'Type_1': 'Grass', 'Type_2': 'Poison', 'HP': 80, 'Attack': 100, 'Defense': 123, 'Speed': 80}, {'Name': 'Charmander', 'Type_1': 'Fire', 'Type_2': None, 'HP': 39, 'Attack': 52, 'Defense': 43, 'Speed': 65}, {'Name': 'Charmeleon', 'Type_1': 'Fire', 'Type_2': None, 'HP': 58, 'Attack': 64, 'Defense': 58, 'Speed': 80}, {'Name': 'Charizard', 'Type_1': 'Fire', 'Type_2': 'Flying', 'HP': 78, 'Attack': 84, 'Defense': 78, 'Speed': 100}, {'Name': 'CharizardMega Charizard X', 'Type_1': 'Fire', 'Type_2': 'Dragon', 'HP': 78, 'Attack': 130, 'Defense': 111, 'Speed': 100}  ... displaying 10 of 800 total bound parameter sets ...  {'Name': 'HoopaHoopa Unbound', 'Type_1': 'Psychic', 'Type_2': 'Dark', 'HP': 80, 'Attack': 160, 'Defense': 60, 'Speed': 80}, {'Name': 'Volcanion', 'Type_1': 'Fire', 'Type_2': 'Water', 'HP': 80, 'Attack': 110, 'Defense': 120, 'Speed': 70}]
2024-05-10 19:12:13,450 INFO sqlalchemy.engine.Engine COMMIT

800