In [ ]:
#Instalar o Python
pip install mysql-connector-python

In [ ]:
#Comandos para baixar as bibliotecas:
pip install --user pandas
pip install --user sqlalchemy

In [2]:
#Importar as bibliotecas necessárias
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [3]:
#Para carregar o arquivo CSV
df = pd.read_csv('C:/Users/aless/Desktop/ingestaosimples/dataset_pokemon/Pokemon_alterados2.csv')

In [4]:
#Ler os dados selecionados das tabelas
df.head()

   ID                   Name Type 1  HP  Attack  Defense  Speed
0   0              Bulbasaur  Grass  45      49       49     45
1   1                Ivysaur  Grass  60      62       63     60
2   2               Venusaur  Grass  80      82       83     80
3   3  VenusaurMega Venusaur  Grass  80     100      123     80
4   4             Charmander   Fire  39      52       43     65

In [58]:
#Listar as colunas do dataset
df.columns

Index(['ID', 'Name', 'Type 1', 'HP', 'Attack', 'Defense', 'Speed'], dtype='object')

In [5]:
#Conectar o python ao mysql, para inserir os dados
#Observação: Tem que criar o database antes de fazer a ingestão dos dados.
params = {
    'user': 'root',
    'password': 'T430u',
    'host': 'localhost',
    'database': 'pokemon_bd',
    'port': 3306
}

In [6]:
#Parâmetros para se conectar ao banco de dados

params = "mysql+mysqlconnector://root:T430u@localhost/pokemon_db"

In [7]:
engine = create_engine(params, echo=True)

In [ ]:
df.to_sql('tb_pokemon_stage', con=engine, if_exists='append', index=False)