In [1]:
#Biblioteca do pandas:
import pandas as pd

In [2]:
dados = pd.read_csv('Pokemon_alterados.csv')

In [3]:
dados.info

<bound method DataFrame.info of        #                   Name   Type 1  HP  Attack  Defense  Speed
0      1              Bulbasaur    Grass  45      49       49     45
1      2                Ivysaur    Grass  60      62       63     60
2      3               Venusaur    Grass  80      82       83     80
3      3  VenusaurMega Venusaur    Grass  80     100      123     80
4      4             Charmander     Fire  39      52       43     65
..   ...                    ...      ...  ..     ...      ...    ...
795  719                Diancie     Rock  50     100      150     50
796  719    DiancieMega Diancie     Rock  50     160      110    110
797  720    HoopaHoopa Confined  Psychic  80     110       60     70
798  720     HoopaHoopa Unbound  Psychic  80     160       60     80
799  721              Volcanion     Fire  80     110      120     70

[800 rows x 7 columns]>

In [4]:
#Antes não dava para excluir pois estava como chave primária.
dados.drop('#', axis = 1, inplace=True)

In [5]:
dados.info

<bound method DataFrame.info of                       Name   Type 1  HP  Attack  Defense  Speed
0                Bulbasaur    Grass  45      49       49     45
1                  Ivysaur    Grass  60      62       63     60
2                 Venusaur    Grass  80      82       83     80
3    VenusaurMega Venusaur    Grass  80     100      123     80
4               Charmander     Fire  39      52       43     65
..                     ...      ...  ..     ...      ...    ...
795                Diancie     Rock  50     100      150     50
796    DiancieMega Diancie     Rock  50     160      110    110
797    HoopaHoopa Confined  Psychic  80     110       60     70
798     HoopaHoopa Unbound  Psychic  80     160       60     80
799              Volcanion     Fire  80     110      120     70

[800 rows x 6 columns]>

In [6]:
#Para verificar se possui algum valor vazio:
dados.isna().any()

Name       False
Type 1     False
HP         False
Attack     False
Defense    False
Speed      False
dtype: bool

In [7]:
#Não possui nenhum.

In [8]:
#Comando para observar nas linhas:
dados.loc[[34, 37]]

        Name  Type 1  HP  Attack  Defense  Speed
34  Nidoran♀  Poison  55      47       52     41
37  Nidoran♂  Poison  46      57       40     50

In [9]:
#Comando para renomear:
new_dados = pd.DataFrame({'Name': ['Nidoran female', 'Nidoran male']}, index=[34, 37])

In [10]:
#Salvar alterações nos dados:
dados.update(new_dados)

In [11]:
#Para verificar as tabelas:
dados.info

<bound method DataFrame.info of                       Name   Type 1  HP  Attack  Defense  Speed
0                Bulbasaur    Grass  45      49       49     45
1                  Ivysaur    Grass  60      62       63     60
2                 Venusaur    Grass  80      82       83     80
3    VenusaurMega Venusaur    Grass  80     100      123     80
4               Charmander     Fire  39      52       43     65
..                     ...      ...  ..     ...      ...    ...
795                Diancie     Rock  50     100      150     50
796    DiancieMega Diancie     Rock  50     160      110    110
797    HoopaHoopa Confined  Psychic  80     110       60     70
798     HoopaHoopa Unbound  Psychic  80     160       60     80
799              Volcanion     Fire  80     110      120     70

[800 rows x 6 columns]>

In [12]:
#Para verificar se as alterações foram realizadas:
dados.loc[[34, 37]]

              Name  Type 1  HP  Attack  Defense  Speed
34  Nidoran female  Poison  55      47       52     41
37    Nidoran male  Poison  46      57       40     50

In [34]:
#Comando para resetar o index na tabela
dados.reset_index()

     index                   Name   Type 1  HP  Attack  Defense  Speed
0        0              Bulbasaur    Grass  45      49       49     45
1        1                Ivysaur    Grass  60      62       63     60
2        2               Venusaur    Grass  80      82       83     80
3        3  VenusaurMega Venusaur    Grass  80     100      123     80
4        4             Charmander     Fire  39      52       43     65
..     ...                    ...      ...  ..     ...      ...    ...
795    795                Diancie     Rock  50     100      150     50
796    796    DiancieMega Diancie     Rock  50     160      110    110
797    797    HoopaHoopa Confined  Psychic  80     110       60     70
798    798     HoopaHoopa Unbound  Psychic  80     160       60     80
799    799              Volcanion     Fire  80     110      120     70

[800 rows x 7 columns]

In [36]:
#Renomear o index
dados.rename_axis('ID', inplace=True)

In [37]:
dados.head()

                     Name Type 1  HP  Attack  Defense  Speed
ID
0               Bulbasaur  Grass  45      49       49     45
1                 Ivysaur  Grass  60      62       63     60
2                Venusaur  Grass  80      82       83     80
3   VenusaurMega Venusaur  Grass  80     100      123     80
4              Charmander   Fire  39      52       43     65

In [38]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     800 non-null    object
 1   Type 1   800 non-null    object
 2   HP       800 non-null    int64
 3   Attack   800 non-null    int64
 4   Defense  800 non-null    int64
 5   Speed    800 non-null    int64
dtypes: int64(4), object(2)
memory usage: 37.6+ KB

In [39]:
#Para salvar essa nova tabela:
dados.to_csv('Pokemon_alterados2.csv')